*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background:lightgray;
    height: 100vh;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.container{
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}
.left{
    width: 400px;
    align-items: flex-start;
}
.left h1{
    color: #0000ff;
    font-size: 60px;
    font-family: sans-serif;
    font-weight: 800;
}
.right{
    width: 400px;
   
    align-items: flex-start;
}
.left, .right, form{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}
form{
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    width: 400px;
    margin-bottom: 26px;
    box-shadow: 10 10 10 10 rgb(0, 0, 0.3);

}
form input{
    width: 100%;
    margin: 5px;
    font-size: 18px;
    font-family: serif;
    font-weight: 900;
    color: green;
    border-radius: 10px;
    padding: 15px;
}
::placeholder{
    color: red;
}
.loginbtn{
    background: green;
    width: 100%;
    margin: 5px;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 800;
    padding: 15px;
    text-align: center;
    transition: 0.5s linear;
    text-decoration: none;
    border-radius: 10px;
    color: #fff;
}
.loginbtn:hover{
    border-radius: 20px;
    background: darkgreen;
    color: black;
}
.forget{
    margin: 10px 0;
    font-size: 20px;
    text-decoration: none;
    font-weight: 100;
    font-family: sans-serif;
}
.forget:hover{
    text-decoration: underline;
}
.forget:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
  }
  
  .forget:visited {
    color:blue;
    background-color: transparent;
    text-decoration: none;
  }
  
  .forget:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }
  
  .forget:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }
  .sign{
    color: #0000ff;
    font-size: 18px;
    text-decoration: none;
    font-family: sans-serif;
  }
.sign:hover{
    text-decoration: underline;
    color: red;
}
 
   p{
    color:green;
    font-size: 20px;
  }